.Header.fold-false {
    z-index: 1;
}

.Header>.bg,
.Header>.bg-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.2);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.Header.fold-false>.bg,
.Header>.bg-menu.true {
    transform: scale(1);
}

.Header>.nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}
.Header>.nav>* {
    margin: 20px;
}
.Header>.nav a {
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    transition: opacity 0.3s ease;
}
.Header>.nav a:hover {
    opacity: 1;
}
.Header>.nav>*>* {
    margin: 0 10px;
}
.Header>.nav>a.fold>span:first-child {
    position: relative;
}
.Header>.nav>a.fold>span:first-child>i {
    transition: opacity 1s ease;
}
.Header>.nav>a.fold>span:first-child:hover>i {
    transform-origin: center;
    transition: transform 0.3s ease;
}
.Header>.nav>a.fold>span:first-child:hover>i.scale {
    transform: scaleY(-1);
}
.Header>.nav>a.fold>span:first-child:hover>i.rotate {
    transform: rotate(90deg);
}
.Header>.nav>a.fold>span:first-child>i:last-child {
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (max-width: 600px) {
    .Header>.nav>a.fold>span:last-child {
        display: none;
    }
}
.Header.fold-true>.nav>a.fold>span>i:last-child {
    opacity: 0;
}
.Header.fold-false>.nav>a.fold>span>i:first-child {
    opacity: 0;
}

.Header>.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}
.Header.fold-false>.page {
    z-index: 1;
}
.Header.fold-false>.page>a {
    pointer-events: visible;
    opacity: 1;
}
.Header.fold-true>.page>a {
    opacity: 0;
}
.Header>.page>a {
    font-size: 4em;
    text-decoration: none;
    transform: translate(6%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition-delay: 0s;
}
.Header>.page>a>span {
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    transition-delay: 0s;
}
.Header>.page>a:hover>span {
    opacity: 1;
}