.App>* {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.App .page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App .page>.bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.App .page>video.bg {
  object-fit: cover;
  object-position: center;
}
.App .page>div.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.App a {
  cursor: pointer;
}
.App .text.secondary {
  color: #999;
}
.App .text.underline {
  border-bottom: 2px solid #03a9f4;
}